.input {
  border-radius: 0.375rem;
  padding-inline: 20px;
  height: var(--input-height);
  color: var(--light-color);
  backdrop-filter: blur(32px);
  background-color: #31303030;
}

.input::placeholder {
  color: gray;
}

.input:focus {
  outline: 2px solid var(--blue-color);
}
