.todo {
  background-color: var(--accent-color);
}

.todo__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  min-height: calc(100vh - var(--header-height) - var(--section-padding-y));
  padding-top: var(--section-padding-y);
}

.task-add {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 100%;
}

.task-add__input {
  flex-grow: 0.3;
}

.task-add__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  border-radius: 5px;
  width: 100%;
  min-height: var(--input-height);
  max-width: 48px;
  font-size: 30px;
  font-weight: bold;
  color: #3b8132;
  transition: color 300ms ease;
}

.task-add__btn:focus {
  outline: none;
}

.task-add__btn:focus-visible {
  outline: 2px solid var(--blue-color);
}

@media (any-hover: hover) {
  .task-add__btn:hover {
    scale: 1.2;
  }
}

.task-add__btn:active {
  color: lightgreen;
}
